# Project Title : Courier Charge Validation for E-commerce Deliveries
<hr>

# Problem Description: 

X, a major Indian e-commerce company, incurs significant monthly expenses for delivering orders via multiple courier partners. These charges depend on product weight and delivery distance. X seeks to verify the accuracy of these charges by analyzing discrepancies between their internal data and courier invoices, focusing on weights, zones, and costs to ensure financial accountability and efficiency.

## Import the required libraries

In [54]:
import numpy as np
import pandas as pd
pd.set_option("display.max_columns", 1000)

## Load the excel files

In [4]:
order = pd.read_excel("Company X - Order Report.xlsx")
pincode = pd.read_excel("Company X - Pincode Zones.xlsx")
product = pd.read_excel("Company X - SKU Master.xlsx")
invoice = pd.read_excel("Courier Company - Invoice.xlsx")
rates = pd.read_excel("Courier Company - Rates.xlsx")

## Look at the top 5 records of each file

In [5]:
order.head()

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0

In [6]:
pincode.head()

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [7]:
product.head()

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [8]:
invoice.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [9]:
rates.head()

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.5,23.6,13.6,23.6
1,B,1.00,33.0,28.3,20.5,28.3
2,C,1.25,40.1,38.9,31.9,38.9
3,D,1.50,45.4,44.8,41.3,44.8
4,E,2.00,56.6,55.5,50.7,55.5

In [10]:
pd.merge(order, product, on="SKU", how="inner")

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001827036  8904223819093        1.0         150
2       2001827036  8904223819109        1.0         100
3       2001827036  8904223818430        1.0         165
4       2001827036  8904223819277        1.0         350
..             ...            ...        ...         ...
396     2001806229  8904223818942        1.0         133
397     2001806229  8904223818850        1.0         240
398     2001806226  8904223818850        2.0         240
399     2001806210  8904223816214        1.0         120
400     2001806210  8904223818874        1.0         100

[401 rows x 4 columns]

In [14]:
rates["Zone"] = rates["Zone"].str.lower()
rates["Zone"].head()

0    a
1    b
2    c
3    d
4    e
Name: Zone, dtype: object

In [15]:
pd.merge(pincode, rates, on="Zone", how="inner")

,Warehouse Pincode,Customer Pincode,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,121003,507101,d,1.5,45.4,44.8,41.3,44.8
1,121003,486886,d,1.5,45.4,44.8,41.3,44.8
2,121003,532484,d,1.5,45.4,44.8,41.3,44.8
3,121003,143001,b,1.0,33.0,28.3,20.5,28.3
4,121003,515591,d,1.5,45.4,44.8,41.3,44.8
...,...,...,...,...,...,...,...,...
119,121003,325207,b,1.0,33.0,28.3,20.5,28.3
120,121003,303702,b,1.0,33.0,28.3,20.5,28.3
121,121003,313301,b,1.0,33.0,28.3,20.5,28.3
122,121003,173212,e,2.0,56.6,55.5,50.7,55.5
123,121003,302020,b,1.0,33.0,28.3,20.5,28.3

In [16]:
pd.merge(invoice, pd.merge(pincode, rates, on="Zone", how="inner"), on="Customer Pincode", how="inner")

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,121003,d,1.5,45.4,44.8,41.3,44.8
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,121003,b,1.0,33.0,28.3,20.5,28.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,121003,d,1.5,45.4,44.8,41.3,44.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,121003,b,1.0,33.0,28.3,20.5,28.3
170,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0,121003,e,2.0,56.6,55.5,50.7,55.5
171,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0,121003,e,2.0,56.6,55.5,50.7,55.5
172,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,121003,b,1.0,33.0,28.3,20.5,28.3
173,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,121003,b,1.0,33.0,28.3,20.5,28.3

In [30]:
df = pd.merge(
    pd.merge(
        invoice, 
        pd.merge(pincode, rates, on="Zone", how="inner"), 
        on="Customer Pincode", 
        how="inner"
    ),
    pd.merge(product, order, on="SKU", how="inner"),
    left_on="Order ID", 
    right_on="ExternOrderNo", 
    how="inner"
)

df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Weight (g),ExternOrderNo,Order Qty
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818645,137,2001806232,6.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223819147,240,2001806232,2.0
2,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818706,127,2001806273,1.0
3,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818850,240,2001806273,1.0
4,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818942,133,2001806273,1.0

In [31]:
df.drop_duplicates(inplace=True)
df.shape

(398, 19)

In [32]:
df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Weight (g),ExternOrderNo,Order Qty
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818645,137,2001806232,6.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223819147,240,2001806232,2.0
2,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818706,127,2001806273,1.0
3,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818850,240,2001806273,1.0
4,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818942,133,2001806273,1.0

In [33]:
df["Actual_Product_Weight (KG)"] = (df["Weight (g)"] * df["Order Qty"]) / 1000
df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Weight (g),ExternOrderNo,Order Qty,Actual_Product_Weight (KG)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818645,137,2001806232,6.0,0.822
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223819147,240,2001806232,2.0,0.480
2,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818706,127,2001806273,1.0,0.127
3,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818850,240,2001806273,1.0,0.240
4,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818942,133,2001806273,1.0,0.133

Invoice might have wrong zone.

In [34]:
len(df["Order ID"].unique())

124

In [36]:
len(df["AWB Code"].unique())

124

In [37]:
df.head(1)

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Weight (g),ExternOrderNo,Order Qty,Actual_Product_Weight (KG)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818645,137,2001806232,6.0,0.822

In [40]:
aggregated_orders_df = df.groupby("AWB Code").agg({"Order ID":"first", 
                                                   "Charged Weight":"first",
                                                   "Warehouse Pincode_x":"first", 
                                                   "Customer Pincode":"first",
                                                   "Type of Shipment":"first", 
                                                   "Billing Amount (Rs.)":"first",
                                                   "Zone_y":"first", 
                                                   "Weight Slabs":"first", 
                                                   "Forward Fixed Charge":"first",
                                                   "Forward Additional Weight Slab Charge":"first",
                                                   "RTO Fixed Charge":"first",
                                                   "RTO Additional Weight Slab Charge":"first",
                                                   "SKU":"count", 
                                                   "Order Qty":"sum",
                                                   "Actual_Product_Weight (KG)":"sum"
                                                  })

In [41]:
aggregated_orders_df.head()

,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Order Qty,Actual_Product_Weight (KG)
AWB Code,,,,,,,,,,,,,,,
1091117221940,2001806210,2.92,121003,140604,Forward charges,174.5,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.220
1091117222065,2001806226,0.68,121003,723146,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,1,2.0,0.480
1091117222080,2001806229,0.71,121003,421204,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,3,3.0,0.500
1091117222124,2001806232,1.30,121003,507101,Forward charges,135.0,d,1.5,45.4,44.8,41.3,44.8,2,8.0,1.302
1091117222135,2001806233,0.78,121003,263139,Forward charges,61.3,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.245

Order ID / AWB Code   
p1, p2  
p1(weight) * Qty = w1 , p2(weight) * Qty = w2 

w1 + w2 = Actual Weight of Order

In [63]:
aggregated_orders_df["Slab_Count"] = np.ceil(aggregated_orders_df["Actual_Product_Weight (KG)"] / 
                                             aggregated_orders_df["Weight Slabs"])
df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Warehouse Pincode_y,Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Weight (g),ExternOrderNo,Order Qty,Actual_Product_Weight (KG),Slab_Count
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818645,137,2001806232,6.0,0.822,1.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,121003,d,1.5,45.4,44.8,41.3,44.8,8904223819147,240,2001806232,2.0,0.480,1.0
2,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818706,127,2001806273,1.0,0.127,1.0
3,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818850,240,2001806273,1.0,0.240,1.0
4,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,121003,d,1.5,45.4,44.8,41.3,44.8,8904223818942,133,2001806273,1.0,0.133,1.0

In [64]:
df["Type of Shipment"].unique()

array(['Forward charges', 'Forward and RTO charges'], dtype=object)

In [75]:
def actual_price(x):
    if x["Type of Shipment"] == "Forward charges":
        return x["Slab_Count"]*x["Forward Additional Weight Slab Charge"]+x["Forward Fixed Charge"]
    elif x["Type of Shipment"] == "Forward and RTO charges":
        return (x["Slab_Count"]*x["Forward Additional Weight Slab Charge"]+x["Forward Fixed Charge"]
                   )+(x["Slab_Count"]*x["RTO Additional Weight Slab Charge"]+x["RTO Fixed Charge"])
    else:
        return "Error"

In [76]:
aggregated_orders_df["Actual_Price"]=aggregated_orders_df.apply(lambda x: actual_price(x),axis=1)
aggregated_orders_df.head()

,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Order Qty,Actual_Product_Weight (KG),Slab_Count,Actual_Price
AWB Code,,,,,,,,,,,,,,,,,
1091117221940,2001806210,2.92,121003,140604,Forward charges,174.5,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.220,1.0,61.3
1091117222065,2001806226,0.68,121003,723146,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,1,2.0,0.480,1.0,90.2
1091117222080,2001806229,0.71,121003,421204,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,3,3.0,0.500,1.0,90.2
1091117222124,2001806232,1.30,121003,507101,Forward charges,135.0,d,1.5,45.4,44.8,41.3,44.8,2,8.0,1.302,1.0,90.2
1091117222135,2001806233,0.78,121003,263139,Forward charges,61.3,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.245,1.0,61.3

In [79]:
aggregated_orders_df["Actual_vs_Invoice"] = (aggregated_orders_df["Actual_Price"] - 
                                                    aggregated_orders_df["Billing Amount (Rs.)"]).astype(int)

In [80]:
aggregated_orders_df.head()

,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Order Qty,Actual_Product_Weight (KG),Slab_Count,Actual_Price,Actual_vs_Invoice
AWB Code,,,,,,,,,,,,,,,,,,
1091117221940,2001806210,2.92,121003,140604,Forward charges,174.5,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.220,1.0,61.3,-113
1091117222065,2001806226,0.68,121003,723146,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,1,2.0,0.480,1.0,90.2,0
1091117222080,2001806229,0.71,121003,421204,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,3,3.0,0.500,1.0,90.2,0
1091117222124,2001806232,1.30,121003,507101,Forward charges,135.0,d,1.5,45.4,44.8,41.3,44.8,2,8.0,1.302,1.0,90.2,-44
1091117222135,2001806233,0.78,121003,263139,Forward charges,61.3,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.245,1.0,61.3,0

In [83]:
def finds(x):
    if x["Actual_vs_Invoice"] > 0:
        return "undercharged"
    elif x["Actual_vs_Invoice"] < 0:
        return "overcharged"
    elif x["Actual_vs_Invoice"] == 0:
        return "correctly charged"

In [86]:
aggregated_orders_df["Status"] = aggregated_orders_df.apply(lambda x: finds(x), axis=1)
aggregated_orders_df.head()

,Order ID,Charged Weight,Warehouse Pincode_x,Customer Pincode,Type of Shipment,Billing Amount (Rs.),Zone_y,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,SKU,Order Qty,Actual_Product_Weight (KG),Slab_Count,Actual_Price,Actual_vs_Invoice,Status
AWB Code,,,,,,,,,,,,,,,,,,,
1091117221940,2001806210,2.92,121003,140604,Forward charges,174.5,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.220,1.0,61.3,-113,overcharged
1091117222065,2001806226,0.68,121003,723146,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,1,2.0,0.480,1.0,90.2,0,correctly charged
1091117222080,2001806229,0.71,121003,421204,Forward charges,90.2,d,1.5,45.4,44.8,41.3,44.8,3,3.0,0.500,1.0,90.2,0,correctly charged
1091117222124,2001806232,1.30,121003,507101,Forward charges,135.0,d,1.5,45.4,44.8,41.3,44.8,2,8.0,1.302,1.0,90.2,-44,overcharged
1091117222135,2001806233,0.78,121003,263139,Forward charges,61.3,b,1.0,33.0,28.3,20.5,28.3,2,2.0,0.245,1.0,61.3,0,correctly charged

In [91]:
summary_table = aggregated_orders_df.groupby("Status").agg({"Order ID":"count","Actual_vs_Invoice":"sum"})
summary_table

                   Order ID  Actual_vs_Invoice
Status
correctly charged        27                  0
overcharged              63              -3663
undercharged             34                920

In [114]:
underchargerd_per = round((abs(summary_table["Order ID"].iloc[2]) / aggregated_orders_df.shape[0]) * 100,0)
underchargerd_per

27.0

In [115]:
overcharged_per = round((abs(summary_table["Order ID"].iloc[1]) / aggregated_orders_df.shape[0]) * 100,0)
overcharged_per

51.0

In [118]:
correctly_charged_per = round((abs(summary_table["Order ID"].iloc[0]) / aggregated_orders_df.shape[0]) * 100,0)
correctly_charged_per

22.0